@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

a{
  text-decoration: none;
}
body{
  font-family: 'Poppins', sans-serif!important;
  float: none;
  margin: 0;
  padding: 0;
  max-width: 100%;
  background-color: #000!important;
  color: #fff!important;
}

.poppins {
  font-family: 'Poppins', sans-serif;
}
.text-sm{
  font-size: 15px;
}
.text-md{
  font-size: 20px;
}
.text-lg{
  font-size: 30px;
}
.title{
  font-size: 60px!important;
  font-weight: 900;
  font-family: 'Poppins', sans-serif;
}
.title-xl{
  font-size: 10vh!important;
  font-weight: 550;
  max-width: 100%!important;
  font-family: 'Poppins', sans-serif;
}
.subtitle{
  font-size: 45px!important;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}
.text-thin{
  font-weight: 300;
}
.text-justify {
  text-align: justify;
}
.bold{
  font-weight: bold;
}

.logo {
  max-width: 50px!important;
}
.logo-md{
  max-width: 100px!important;
}
.logo-min{
  max-width: 30px!important;
}
.logo-lg{
  max-width: 200px!important;
}
.logo-xl{
  max-width: 50vw;
}
.fullScreen{
  min-height: 100vh;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
}
.responsiveBackground{
  background-repeat:no-repeat!important;
  -webkit-background-size:cover!important;
  -moz-background-size:cover!important;
  -o-background-size:cover!important;
  background-size:cover!important;
  background-position:center!important;
}


.transparent-white-bg{
  background-color: #ffffffad;
}
.mt-10{
  margin-top: 10vh;
}
.mt-15{
  margin-top: 15vh;
}
.mt-20{
  margin-top: 20vh;;
}


.mb-10{
  margin-bottom: 10rem;
}
.my-10{
  margin-top: 10rem;
  margin-bottom: 10rem;
}
.mb-20{
  margin-bottom: 20rem;
}
.p-10{
  padding: 10vw;
}
.p-15{
  padding: 15vw;
}
.p-20{
  padding: 20vw;
}
.px-15{
  padding-left: 15vw;
  padding-right: 15vw;
}
.py-10{
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.py-15{
  padding-top: 15vh;
  padding-bottom: 15vh;
}
.py-20{
  padding-top: 10vw;
  padding-bottom: 10vw;
}
.pb-10{
  padding-bottom: 10rem;
}
.pb-15{
  padding-bottom: 15rem;
}

.black-bg{
  background-color: rgb(0, 0, 0);
}
.bg-grey{
  background-color: rgba(0, 0, 0, 0.91);
}
.bg-white-grey{
  background-color: rgb(233, 233, 233);
}
.video-bg{
  position: relative;
  z-index: -1;
  width: 100vw;
}
.customShadow{
box-shadow: 5px 8px 5px grey;
}
.tb-shadow{
  box-shadow: 0px 10px 40px #888, 0px -10px 40px #888;

}
.collectionButton{
  background-color: #ffffff77;
  color: #ffffff!important;
  font-weight: bold;
}
.img-lg{
  max-width: 200px;
  height: auto;
}
.img-md{
  max-width: 100px;
  height: auto;
}
.customIcon{
  max-height: 100px!important;
  height: 100px!important;
}
.height-80{
  min-height: 80vh!important;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
}
.video {
  object-fit: cover!important;
  visibility: visible;
}
.gradient1{
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(255,94,94,1) 50%, rgba(253,86,47,1) 73%, rgba(252,176,69,1) 100%); 
}
.gradientBg{
  background: rgb(131,58,180);
  background: linear-gradient(72.44deg, #378D8C 0%, #2B3468 100%);
}
.gradientText{
  background: linear-gradient(72.44deg, #378D8C 0%, #4452a2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.gradientButton{
  background: linear-gradient(72.44deg, #49b8b6 0%, #4958ae 100%);
  color: #fff;
  border-radius: 5px;
  border: none;
  padding: 5px;
  transition: 0.5s;
}
.gradientButton:hover{
  background: linear-gradient(72.44deg, #378D8C 0%, #2B3468 100%);
}
.semi-bold{
  font-weight: 500;
}

.smart-scroll{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.scrolled-down{
   transform:translateY(-100%); transition: all 0.3s ease-in-out;
}
.scrolled-up{
   transform:translateY(0); transition: all 0.3s ease-in-out;
}


.nomushbg{
  background-repeat:no-repeat!important;
  -webkit-background-size:cover!important;
  -moz-background-size:cover!important;
  -o-background-size:cover!important;
  background-size:cover!important;
  background-position:67%!important;
}

.teamPhoto{
  border-radius: 50%;
  max-width: 300px;
  transition: 0.5s;
  cursor: pointer;

}
.teamPhoto:hover{
  -webkit-filter: blur(1.5px); /* Chrome, Safari, Opera */
    filter: blur(1.5px);
    opacity: 50%;
  }

.service-image{
  max-height: 700px!important;
}

.mobile-service-img{
  border-radius: 20px;
  /* box-shadow: 5px 5px 10px #3f3f3f; */
}

.imageCointer{
  position: relative;
}
.imageCointer image{
  display: block;
}
.imageCointer .linkIcon{
  position: relative;
  top: 50%;
  left: 50%;
  z-index: 1000;
}
.noLink{
  text-decoration: none;
}
.noLink:hover{
  color: inherit;
}
.noLink:active{
  color: inherit;
}
.fadeOut{
  width:0!important;
  height:0!important;
  opacity: 0!important;

  transition: width 1s 1s, height 1s 1s, opacity 1s;

}

.fadeOutOpacity{
  opacity: 0!important;
  transition: opacity 0.5s;
}



.box-logo{
  height: 100px;
}
.thin{
  font-weight: 300!important;
}
.m-0{
  margin: 0 0 0 0!important;
}
.blog-text p {
  font-size: 18px;
}






/* START */
.customBorder {
  height: 369px;
  width: 290px;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;
}
.customBorder:hover, .customBorder:active {
  border: 1px solid #fff;
}
.customCard {
  height: 379px;
  width: 300px;
  background: #808080;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  background: #000;
  box-shadow: 0 70px 63px -60px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.card0 {
  background:  url("https://i.pinimg.com/originals/ee/85/08/ee850842e68cfcf6e3943c048f45c6d1.jpg") center center no-repeat ;
  background-size: 300px;
}
.card0:hover, .card0:active {
  background: url("https://i.pinimg.com/originals/ee/85/08/ee850842e68cfcf6e3943c048f45c6d1.jpg") left center no-repeat;
  background-size: 600px;
}
.card0:hover h2, .card0:hover .cardDescription, .card0:active .cardDescription, .card0:active h2 {
  opacity: 1;
}
.card0:hover .fa, .card0:active .fa {
  opacity: 1;
}
.card1 {
  background: url("https://i.pinimg.com/originals/ee/85/08/ee850842e68cfcf6e3943c048f45c6d1.jpg") center center no-repeat;
  background-size: 300px;
}
.card1:hover, .card1:active {
  background: url("https://i.pinimg.com/originals/ee/85/08/ee850842e68cfcf6e3943c048f45c6d1.jpg") left center no-repeat;
  background-size: 600px;
}
.card1:hover h2, .card1:hover .cardDescription, .card1:active h2, .card1:active .cardDescription {
  opacity: 1;
}
.card1:hover .fa, .card1:active .fa {
  opacity: 1;
}
.card2 {
  background: url("https://i.pinimg.com/originals/ee/85/08/ee850842e68cfcf6e3943c048f45c6d1.jpg") center center no-repeat;
  background-size: 300px;
}
.card2:hover, .card2:active {
  background: url("https://i.pinimg.com/originals/ee/85/08/ee850842e68cfcf6e3943c048f45c6d1.jpg") left center no-repeat;
  background-size: 600px;
}
.card2:hover h2, .card2:hover .cardDescription, .card2:active h2, .card2:active .cardDescription {
  opacity: 1;
}
.card2:hover .fa, .card2:active .fa {
  opacity: 1;
}
.customCard h2 {
  color: #fff;
  margin: 20px;
  opacity: 0;
  transition: opacity 1s;
}
.card3 {
  background: url("https://i.pinimg.com/originals/ee/85/08/ee850842e68cfcf6e3943c048f45c6d1.jpg") center center no-repeat;
  background-size: 300px;
}
.card3:hover, .card3:active {
  background: url("https://i.pinimg.com/originals/ee/85/08/ee850842e68cfcf6e3943c048f45c6d1.jpg") left center no-repeat;
  background-size: 600px;
}
.card3:hover h2, .card3:hover .cardDescription, .card3:active h2, .card3:active .cardDescription {
  opacity: 1;
}
.card3:hover .fa, .card3:active .fa {
  opacity: 1;
}
.customCard h2, .cardDescription {
  color: #fff;
  margin: 20px;
  opacity: 0;
  transition: opacity 1s;
}
.fa {
  opacity: 0;
  transition: opacity 1s;
}
.icons {
  position: absolute;
  fill: #fff;
  color: #fff;
  height: 130px;
  top: 226px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* END */

.bannerVideo{
  height:90vh;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  background-color: #000!important;
  border-radius: 20px;
  
}




@media only screen and (max-width: 600px) {
  .title-xl{
    font-size: 5vh!important;
    font-weight: 550;
    max-width: 100%!important;
    font-family: 'Poppins', sans-serif;
  }
}



.neumorphism-1 {
  position: fixed;
	background: #ffffff;
	border-radius: 50%;
	box-shadow: 0 0 10px #ffffff, 0 0 10px rgb(196, 196, 196);
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count:infinite;
  animation-delay: 2s;
}
.onTop{
  position:relative;
  z-index:100;
}
@keyframes example {
  0%   {	box-shadow: 0 0 10px #ffffff, 0 0 10px rgb(196, 196, 196)}
  50%  {	box-shadow: 0 0 10px #ffffff, 0 0 10px #ffffff}
  100% {	box-shadow: 0 0 10px #ffffff, 0 0 10px rgb(196, 196, 196)}
}

.projectSlide{
  width: 100%;
}

.divider{
  width: 100%;
  border-top: 1px solid #378D8C;
}

.textGreen{
  color:#378D8C;
}
